<div class="sticky bottom-0 z-50 bg-gray-800 text-white p-4 mt-8">
    <footer class="bg-gray-800 text-white p-4">
        <div class="flex justify-end">
            <div class="mx-4 text-right w-1/2 text-sm text-gray-300">
                <h1 class="text-2xl font-bold">Shop is open!</h1>
                <p class="text-sm">© 2024 Shop is open! All rights reserved.</p>
            </div>
            <ul>
                <li>
                    <a href="https://www.notion.so/" class="text-white hover:text-gray-300 inline-flex">
                        <img src="/svg/notion.svg" alt="Notion" class="w-6 h-6 mx-2">
                        <p>Notion</p>
                    </a>
                </li>
                <li>
                    <a href="https://velog.io/@" class="text-white hover:text-gray-300 inline-flex">
                        <img src="/svg/blog.svg" alt="Velog" class="w-6 h-6 mx-2 invert">
                        <p> Velog</p>
                    </a>
                </li>
                <li class="inline">
                    <a href="" class="text-white hover:text-gray-300 inline-flex">
                        <img src="/svg/github.svg" alt="GitHub" class="w-6 h-6 mx-2 invert">
                        <p>Github</p>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>

</html>