<div class="flex items-center justify-between px-4 py-3 bg-gray-700">
    <nav class="flex space-x-4 justify-between w-full">
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white">Shop</a></li>
            <% if (isAuthenticated) { %>
                <li><a href="/cart" class="text-white">Cart</a></li>
                <li><a href="/order" class="text-white">Orders</a></li>
                <li><a href="/admin/product" class="text-white">Products</a></li>
                <li><a href="/admin/product/add-product" class="text-white">Add Product</a></li>
            <% } %>
        </ul>
        <ul class="flex space-x-4">
            <% if (!isAuthenticated) { %>
                <li><a href="/login" class="text-white">Login</a></li>
                <li><a href="/signup" class="text-white">Signup</a></li>
            <% } %>
            <% if (isAuthenticated) { %>
                <li>
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="text-white">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</div>