<div class="flex items-center justify-between px-4 py-3 bg-gray-700">
    <nav class="flex space-x-4 justify-between w-full">
        <ul class="flex space-x-4 text-white">
            <li><a href="/" class="<% if (path === '/') { %> text-orange-500 text-bold <% } %>">Shop</a></li>
            <% if (isAuthenticated) { %>
                <li><a href="/cart" class="<% if (path === '/cart') { %> text-orange-500 font-bold <% } %>">Cart</a></li>
                <li><a href="/order" class="<% if (path === '/order') { %> text-orange-500 font-bold <% } %>">Orders</a></li>
                <li><a href="/admin/product" class="<% if (path === '/admin/product') { %> text-orange-500 font-bold <% } %>">Products</a></li>
                <li><a href="/admin/product/add-product" class="<% if (path === '/admin/product/add-product') { %> text-orange-500 font-bold <% } %>">Add Product</a></li>
            <% } %>
        </ul>
        <ul class="flex space-x-4">
            <% if (!isAuthenticated) { %>
                <li><a href="/login" class="<% if (path === '/login') { %> text-orange-500 font-bold <% } %>">Login</a></li>
                <li><a href="/signup" class="<% if (path === '/signup') { %> text-orange-500 font-bold <% } %>">Signup</a></li>
            <% } %>
            <% if (isAuthenticated) { %>
                <li>
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</div>